/* main parent div class */
.body {
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
.actualBody {
  padding: 60px;
  background-color: #f5eded;
}

.moodBoard {
  border-style: solid;
  border-width: 3px;
  border-color: #d1bdda;
  padding: 7vw;
  margin: auto;
  width: 70vw;
  margin-top: 30px;
}

.moodBoardQuestion {
  font-size: 25px;
  text-align: center;
  width: 60%;
  margin: auto;
  font-weight: 700;
}

.moodButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 5vw;

}
.moodButtons button {

  background-color: #9cadca;
  border-radius: 100px;
  box-shadow: 8px #818c9d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  width: 200px;
  padding: 1vw;

  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin: auto;
}

.moodButtons button:hover {
  box-shadow: #707b8d 0 -25px 18px -14px inset, #737880 0 1px 2px,#697995 0 2px 4px,#5d6676 0 4px 8px,#5c687d 0 8px 16px,#5e6a7f 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: #9cadca;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url('./background.PNG'); */
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 20rem;

    /* adding in the box border */
    border: 3px solid #d1bdda;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 60px;
  }

  .SearchBarText {
    text-align: center;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
  }
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: #ffffff;
  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 1px solid #fff;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
  }
  
  .SearchBar-sort-options li:hover {
    color: #d4cfcf;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBar-fields input {
    width: 21rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #5e5760;
    border-radius: 4px;
    font-size: .77rem;
    font-weight: 500;
    background-color: #e7dceb;
    margin-top: 70px;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .button1 {
    text-align: center;
  }
  
  .button1 a {
    border-radius: 4px;
    padding: .72rem 1.7rem;
    background-color: #9cadca;
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.5s;
    text-decoration: none;
    margin-left: 40%;
  }
  
  .button1 a:hover {
    background-color: #ABB9CF;
  }

  .button1{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button1 a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:#9cadca;
    display:block;
    position:relative;
    padding:20px 40px;
    width: 10vw;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #3e4756;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #3e4756;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #3e4756;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button1 a:active{
    top:10px;
    background-color:#9cadca;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #3e4756;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #3e4756;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #3e4756;
  }
  
  .button1:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
  }
  
  @media only screen and (max-width: 560px) {
  
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }

  .SearchBar .test li{
    margin-left: 80%;
  }

  #restaurantsD, #blurbs, #paragraphHappy, #paragraphSad, #paragraphStressed, #paragraphAngry, #paragraphCold, #paragraphTired, #paragraphHungover, #paragraphPregnant {
    display: none;
  }

/* blurbs */
.Blurbs {
  border-radius: 20px;
  border: 2px solid #ABB9CF;
  
  /* font */
  font-weight: 400; 
  font-size: 15px;

  padding: 30px;

  margin: auto; 
  margin-top: 60px;
  margin-bottom: 60px;
  width: 50%;
}

/* text */
h4 {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
h5 {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}
p {
  font-size: 18px;
}


.restaurantsDescription h4 {
  margin-top: 50px;
}

.restaurantsDescription p {
  margin-top: 20px;
}
#separation {
  margin-bottom: 30px;
}

/* go button */

.goWrapper {
  text-align: center;
  width: 100%;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  background-color: #d1bdda;
}

.go {
  cursor: pointer;
  font-size: 20pt;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 80px;

  position: relative;
  border: solid #777 2px;
  color: white;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  background: #697995;

}

.go:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9cadca;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.go:hover:before {
  width: 100%;
}

.go:hover {
  color: #f1f1f1;
  border-color: #9cadca;
}

.go:active:before {
  background-color: #9cadca;
}

.go:active {
  border-color: #9cadca;
  background-color: #9cadca;
  color: white;
}

.go:focus {
  outline: none
}

/* manual search */

.manSearchWrapper {
  text-align: center;
  width: 100%;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}

.manSearch {
  cursor: pointer;
  font-size: 20pt;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 40px;
  margin-bottom: 40px;

  position: relative;
  border: solid #777 2px;
  color: white;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  background: #697995;

}

.manSearch:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9cadca;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.manSearch:hover:before {
  width: 100%;
}

.manSearch:hover {
  color: #f1f1f1;
  border-color: #9cadca;
}

.manSearch:active:before {
  background-color: #9cadca;
}

.manSearch:active {
  border-color: #9cadca;
  background-color: #9cadca;
  color: white;
}

.manSearch:focus {
  outline: none
}

/* spaces to make the scroll nicer */
.spacey1 {
  height: 5vw;
}
.spacey2 {
  height: 1vw;
}