.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  margin: -5rem 0rem 7.5rem 0rem;
  background-color: #d1bdda;

  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid #ABB9CF;
}

.Business .image-container {
  height: 11rem;
  margin-bottom: 1rem;

  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
}

.Business h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;

  padding-top: 10px;
  padding-left: 10px;
  
  color: white;
  text-shadow: 2px 2px 9px rgb(48, 48, 48);
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 600;
  line-height: 1rem;

  color: white;
  text-shadow: 2px 2px 5px gray;
}

.Business-titles {
  margin-bottom: 15px;
  margin-left: 7px;
}

.Business-address {
  padding: 10px;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;

  padding: 10px;
}

.Business-reviews h3 {
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 5px gray;

}

.Business-reviews .rating {
  font-size: .88rem;
  line-height: 1rem;
}

.Business a {
  text-decoration: none;
}