/* Universal Styles */

html {
  font-size: 18px;
  background-color: #f5eded;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  padding: 30px;
  text-align: center;
  background-color: #ABB9CF;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #f5eded;
}

/* deleted the food in santa clarita section to match the figma */

/* Quiz Introduction Section with Text */
.quizIntroduction {
  font-size: 30px;
  text-align: center;

  padding: 50px;
  background-color: #d1bdda;
}

.quizIntroductionText1 {
  width: 50%;
  margin: auto;
  color: white;
  font-weight: 400;
  padding: 20px;
}
.quizIntroductionText2 {
  width: 50%;
  margin: auto;
  color: white;
  font-weight: 600;
  padding: 20px;
}


/* background */
.bg {
  background-image: url('background.PNG');
  background-size: 100vw;
  background-repeat: no-repeat;
}